<form id='update-character'>
  <fieldset>
      <legend>Change an existing character</legend>
      <input type="text" name='character[name]'placeholder="Name">
      <select type="text" name='character[specialty]'>
        <option>Barbarian</option>
        <option>Bard</option>
        <option>Cleric</option>
        <option>Druid</option>
        <option>Fighter</option>
        <option>Monk</option>
        <option>Paladin</option>
        <option>Ranger</option>
        <option>Rogue</option>
        <option>Sorcerer</option>
        <option>Warlock</option>
        <option>Wizard</option>
      </select>
      <input class='submit-update-button' type="submit" value="Change!">
  </fieldset>
</form>
